<h1 class="text-3xl font-bold text-gray-700 mb-6">Posts</h1>

<div class="space-y-6"> <!-- em vez de grid -->
  <% @posts.each do |post| %>
    <div class="bg-white rounded-2xl shadow-lg p-6">
      <h2 class="text-xl font-semibold text-gray-700"><%= post.title %></h2>
      <p class="text-gray-600 mt-2"><%= truncate(post.content, length: 150) %></p>
      <div class="mt-4 flex justify-between">
        <%= link_to "Show this post", post, class: "text-blue-600 hover:underline" %>
        <%= link_to "Comments", post_comments_path(post), class: "text-purple-600 hover:underline" %>
      </div>
    </div>
  <% end %>
</div>
